/*
wood brown: A89F68;
army green: 41521F;
*/
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
	color: #fff;
	text-shadow: 1px 2px #333;
}
/*Sección 01*/
.bienvenida {
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
}

.bienvenida h1 {
    padding-top: 3em;
    color: #fff;
    font-weight: 900;
    font-size: 35px;
}
.color01 {
	background-color: #41521f;
	color: #fff;
}
/*Sección 03*/
.easyhelp {
	background-color: #A89F68;
	color: #fff;
}
/*Sección 04*/
.helpkoalas {
	background-image: url(../img/all.jpg);
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	text-shadow: 1px 2px #333;
}
/*Sección 05*/
.canhelp {
	color: #A89F68;
}

